/* ==================================================
   Background Colours
================================================== */

.colour1 {
    background: #16A085;
}

.colour2 {
    background: #1ABC9C;
}

.colour3 {
    background: #EEE;
}