/* ==================================================
   Default Typography
================================================== */

p {
    margin: 0 0 20px 0;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

h1,
h2,
h3 {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 20px 0;
    letter-spacing: -1px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 38px;
}

h3 {
    font-size: 32px;
    line-height: 32px;
}